:local {
  .AppContent {
    display: grid;
    grid-template: 1fr / 1fr max-content max-content 1fr;

    padding-top: 2.5rem;
  }

  .TalentPaths {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    grid-area: 1 / 2;
  }

  .PointsDisplay {
    margin-top: 3.5rem;
    margin-right: 4rem;
    grid-area: 1 / 3;
  }

  @media screen and (max-width: 920px) {
    .AppContent {
      grid-template: max-content max-content / auto;
    }

    .TalentPaths {
      grid-area: 2 / 1;
      justify-content: center;
      overflow: hidden;
    }

    .PointsDisplay {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      margin-right: 0;
      grid-area: 1 / 1;
    }
  }
}
